.feed-form
    position: relative
    display: flex
    justify-content: center
    flex-wrap: wrap
    input
        width: 268px
        height: 45px
        padding: 17px 17px 17px 28px
        margin-right: 6px
        border: 1px solid rgba(0, 0, 0, 0.21)
        background-color: #ffffff
        border-radius: 24px
        color: rgba(16, 16, 16, 0.7)
        font-size: 13px
        font-weight: 300
        line-height: 13px
        &:nth-child(4)
            margin-right: 0
        &:focus
            outline: none
            box-shadow: 0 0 3px #ec644b
    &__border
        height: 166px
        width: 100%
        position: absolute
        top: -68px
        left: 0
        z-index: -1
        border: 1px solid #898989
    &__icon
        border-color: #e93b3b
        background-color: #fff
    &__outline
        outline: 13px solid #ffffff
.line-break
    flex-basis: 100%
    height: 30px

    
            