@media (max-width: 1199.98px)
    .container
        max-width: 960px
    .menu
        width: 560px
        &__item
            padding-right: 9px

    .callback
        padding: 0 0 0 12px
        &__phone
            font-size: 14px
            line-height: 14px
    .header
        &__logo
            width: 80px
    
    .title
        font-size: 24px
        line-height: 24px

    .subtitle
        font-size: 18px
        line-height: 21px

    .promo
        &__text
            font-size: 22px
            line-height: 22px
        &__header
            font-size: 60px
            line-height: 60px
        &__subheader
            font-size: 36px
            line-height: 36px
        &__item
            width: 230px

    .advantages
        &__wrapper
            justify-content: space-around
        &__item
            width: 420px
        &__desc
            width: 340px
    
    .description
        &__item
            width: 305px
        &__image
            width: 305px

    .subsection
        &__subtitle
            font-size: 18px
            line-height: 25px

    .price-item
        width: 225px
        &__header
            width: 219px
        &__price
            font-size: 24px
            line-height: 24px

    .title-consultation
        font-size: 26px

    .scheme
        &__item
            margin-right: 24px

    .feedback
        &__wrapper
            max-width: 960px
        &__item
            width: 350px
    
    .footer
        &__line
            width: 990px

@media (max-width: 991.98px)
    .container
        max-width: 720px

    .header
        flex-direction: column
        margin-bottom: 40px
        &__logo
            width: 96px
            margin-bottom: 15px
    .promo
        &__header
            font-size: 50px
            line-height: 50px
        &__subheader
            font-size: 28px
            line-height: 28px
        &__text
            font-size: 20px
            line-height: 20px
        &__desc
            font-size: 14px
            line-height: 20px

    .header
        &__nav
            flex-direction: column
            margin-bottom: 30px

    .description
        &__items
            flex-wrap: wrap
            justify-content: space-around
        &__item
            margin-bottom: 30px
        &__text
            line-height: 20px

    .price
        &__items
            flex-wrap: wrap
            justify-content: center

    .price-item
        width: 267px
        margin: 15px
        &__header
            width: 261px
        &__price
            font-size: 28px
            line-height: 28px

    .feed-form
        padding: 0 30px
        &__item
            width: 30%
            margin: 0 3px 10px 3px
        &__border
            height: 212px
        &__comment
            width: 606px
            margin: 0 0 10px 0

    .line-break
        height: 10px    
    
    .subsection
            br
                display: none    

    .scheme
        &__wrapper
            justify-content: space-around
        &__item
            width: 40%
            margin: 0 0 30px 0

    .feedback
        &__wrapper
            max-width: 720px
        &__item
            width: 270px

    .footer
        height: 160px
        padding: 16px 0 0 0
        &__wrap
            flex-direction: column
        &__callback
            margin: 0
            padding: 0
            justify-content: space-around
        &__logo
            width: 80px
        &__line
            display: none


// @media (max-width: 767.98px) 
// @media (max-width: 575.98px)


.promo,
.advantages,
.description,
.subsection__agents,
.price,
.consultation,
.subsection__managers,
.scheme,
.feedback,
.questions,
.map,
.footer,
.overlay
    // display: none
