* {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.promo {
  min-height: 680px;
  padding: 23px 0 82px 0;
  background: url("../img/main.jpg") no-repeat center;
}

.promo__text {
  margin-bottom: 17px;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
}

.promo__header {
  text-align: center;
  color: #ec644b;
  font-family: "Roboto Condensed";
  font-size: 72px;
  line-height: 72px;
  font-weight: 700;
  text-transform: uppercase;
}

.promo__subheader {
  margin-bottom: 38px;
  text-align: center;
  color: #ffffff;
  font-family: "Roboto Condensed";
  font-size: 42px;
  line-height: 42px;
  font-weight: 400;
  text-transform: uppercase;
}

.promo__underline {
  margin-bottom: 27px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.promo__line {
  width: 390px;
  height: 1px;
  background-color: #fff;
}

.promo__circle {
  width: 10px;
  height: 10px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: #fff;
}

.promo__items {
  margin-bottom: 40px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.promo__item {
  width: 260px;
  text-align: center;
}

.promo__icon {
  margin-bottom: 15px;
}

.promo__desc {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.header {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.header__nav {
  width: 751px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.header__contacts {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding-left: 25px;
  text-align: right;
}

.header__call {
  padding-bottom: 5px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
}

.header__phone {
  font-size: 19px;
  font-weight: 700;
  line-height: 19px;
  color: #ffffff;
}

.header__phone:hover {
  color: #ffffff;
}

.menu {
  width: 600px;
  height: 23px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.menu__item {
  padding-right: 13px;
  line-height: 23px;
  border-right: 1px dotted rgba(255, 255, 255, 0.4);
}

.menu__item:last-child {
  border-right: none;
  padding-right: 0;
}

.menu__link {
  color: #ffffff;
  font-size: 15px;
  padding-bottom: 5px;
}

.menu__link:hover {
  color: #ec644b;
  text-decoration: none;
  border-bottom: 1px solid #ec644b;
}

.button {
  width: 160px;
  height: 45px;
  border: none;
  border-radius: 22.5px;
  background-color: #ec644b;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
}

.button:hover {
  background-color: #dc5238;
}

.button_large {
  width: 230px;
  height: 57px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
}

.promo__button {
  display: block;
  margin: 0 auto;
}

.advantages {
  min-height: 590px;
  padding: 51px 0 21px 0;
  background-color: #f3f3f3;
}

.advantages__wrapper {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 30px 0 0 0;
}

.advantages__item {
  position: relative;
  width: 540px;
  margin-bottom: 31px;
  padding-left: 77px;
}

.advantages__icon {
  position: absolute;
  top: 5px;
  left: 0;
}

.advantages__title {
  margin: 0;
  padding-bottom: 8px;
  color: #ec644b;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}

.advantages__desc {
  width: 440px;
  margin: 0;
  color: #3a3a3a;
  font-size: 14px;
  line-height: 22px;
}

.title {
  margin: 0;
  color: #2e2e2e;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.title__underline {
  width: 148px;
  height: 1px;
  margin: 20px auto 17px auto;
  background-color: #ec644b;
}

.subtitle {
  text-align: center;
  color: #2e2e2e;
  font-size: 21px;
  line-height: 24px;
  font-weight: 300;
}

.description {
  min-height: 620px;
  padding: 51px 0 0 0;
}

.description__items {
  padding: 37px 0 57px 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.description__item {
  width: 360px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}

.description__image {
  width: 100%;
  height: 210px;
  margin-bottom: 27px;
}

.description__title {
  margin: 0 0 8px 0;
  color: #ec644b;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}

.description__text {
  margin: 0;
  color: #3a3a3a;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  text-align: justify;
  -moz-text-align-last: center;
       text-align-last: center;
}

.subsection {
  height: 342px;
  padding: 58px 0 75px 0;
  background: url("../img/agent_bg.jpg") no-repeat center;
}

.subsection__icon {
  width: 102px;
  height: 102px;
  margin: 0 auto 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.subsection__title {
  margin-bottom: 10px;
  text-align: center;
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
}

.subsection__subtitle {
  text-align: center;
  color: #ffffff;
  font-size: 19px;
  font-weight: 300;
  line-height: 27px;
}

.price {
  padding: 53px 0 56px 0;
}

.price__items {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding-top: 34px;
}

.price-item {
  width: 267px;
  height: 357px;
  padding: 2px;
  border: 1px solid #e9e9e9;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  background-color: #ffffff;
  border-radius: 1px;
}

.price-item__header {
  width: 261px;
  height: 61px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  text-transform: uppercase;
  background-color: #25333c;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}

.price-item__icon {
  padding: 10px 0 15px 0;
}

.price-item__time {
  margin-bottom: 3px;
  color: #2e2e2e;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
}

.price-item__price {
  margin-bottom: 14px;
  color: #ec644b;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
}

.price-item__desc {
  margin-bottom: 20px;
  padding: 0 12px;
  color: #2e2e2e;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
}
